
</div>
<div class="footer-copyright text-center py-3 " id="footer">© 2020 Copyright:Aishwarya
</div>
</div>
<script>
      document.getElementById("Postcontent").addEventListener("click", function(event){
  event.preventDefault();
  });
</script>
</body>
</html>
